{% extends 'base.html' %}
{% load pages_content %}

{% block content %}
{% section_visible 'terms' 'content_section_visible' as show_terms %}
{% if show_terms %}
<section class="section">
  <div class="container legal-content reveal">
    {% url 'home' as back_url %}
    {% include 'partials/back_link.html' with back_label='Back to Home' %}
    <h1 class="heading-lg section-title section-title--block">{% block_plain 'terms' 'terms_title' %}</h1>
    <p class="legal-content__updated">{% block_plain 'terms' 'terms_updated' %}</p>
    <div class="legal-content__body">{% render_block 'terms' 'terms_body' %}</div>
  </div>
</section>
{% endif %}
{% endblock %}
